<!DOCTYPE html>
<html>
  <head>
    <title>My Projet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= favicon_link_tag 'https://emojicdn.elk.sh/📱' %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Carrega o JS do Bootstrap e do Popper via Sprockets -->
    <%= javascript_include_tag "popper.js", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "bootstrap.min.js", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
